variaveis
:root
--preto
branco
lilias claro
azul médio

corpo da página
body
color:var(branco);/cor da fonte/
background-color:(preto);/cor de fundo
 margin:0px/não terá margem padrão/


 header
 border: s
 border color
 
 

